<mat-card>
  <form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
    <mat-form-field>
      <input matInput placeholder="Email" formControlName="email" type="email">
      <mat-error *ngIf="f.email.errors && f.email.errors.required">
        Email is required
      </mat-error>
      <mat-error *ngIf="f.email.errors && f.email.errors.email">
        Email must be a valid email address
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Password" formControlName="password" type="password">
      <mat-error *ngIf="f.password.errors && f.password.errors.required">
        Password is required
      </mat-error>
      <mat-error *ngIf="f.password.errors && f.password.errors.minlength">
        Password must be at least 6 characters
      </mat-error>
    </mat-form-field>

    <div class="action-wrapper">
      <a routerLink="/signup">I don't have account</a>
      <button mat-flat-button color="primary" [disabled]="formGroup.invalid">Sign in</button>
    </div>
  </form>
</mat-card>
